@import './base.css';

#app {
  max-width: 350px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 0.9rem;
  font-weight: normal;
}


@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

}
